{% extends 'common/sumit/sumit_starter.html' %}
{% block content %}
{% load static %}

<!-- About -->
<div class="pb-3">
	<h1 class="title title--h1 title__separate">Portfolio</h1>
</div>

<!-- Gallery -->
<div class="gallery-grid js-masonry js-filter-container">
	<div class="gutter-sizer"></div>

	<!-- Item 1 -->
	{% for project in porject_list %}
		<div class="gallery-grid__item category-design portfolio">
			<div class="card border-success mb-3" style="max-width: 18rem;">
				<div class="card-header bg-transparent border-success header">{{project.title}}</div>
				<div class="card-body text-success">
				  <h5 class="card-title"></h5>
				  <p class="card-text short_descrition">{{project.description|safe|truncatechars:100}}</p>
				</div>
				<div class="card-footer bg-transparent border-success">
					<a target="_blank" href="{% url 'common:sumit_project_detail' project.id %}">
						<p class="more">More <i class="fa-solid fa-up-right-from-square fa-bounce" style="color: #cd13b4;"></i></p>
					</a>
				</div>
			  </div>
		</div>

	{% endfor %}

</div>
{% endblock content %}
