{% extends 'common/sumit/sumit_starter.html' %}
{% block content %}
{% load static %}

<!-- About -->
<div class="pb-0 pb-sm-2">
	<h1 class="title title--h1 title__separate">About Me</h1>
	<p>As a skilled Django developer with 2.5 years of experience, I have developed and
		maintained robust web applications using Python and Django. My expertise lies in
		designing and implementing RESTful APIs, optimizing database performance, and
		integrating third-party services to create seamless user experiences.</p>
	<p>I possess strong analytical skills and an eye for detail, allowing me to quickly identify
		and resolve issues. Additionally, my ability to collaborate with cross-functional teams
		and communicate technical concepts to non-technical stakeholders has resulted in
		successful project deliveries. I am passionate about developing scalable and
		maintainable code and always strive to stay up-to-date with the latest technologies in
		the Django community.</p>
</div>


<!-- Education -->
<h2 class="title title--h2"><span class="box box--s2 icon-box">
		<i class="fa-solid fa-graduation-cap fa-beat-fade"></i>
	</span>Education</h2>
<div class="timeline">
	<!-- Item -->
	<article class="timeline__item">
		<h5 class="title title--h4 timeline__title">Lovely Professional University</h5>
		<span class="timeline__period">2022</span>
		<p class="timeline__description">B-Tech CSE</p>
	</article>

	<!-- Item -->
	<article class="timeline__item">
		<h5 class="title title--h4 timeline__title">Bankura Goyenka Vidyayatan</h5>
		<span class="timeline__period">2016</span>
		<p class="timeline__description">Higher Secondary</p>
	</article>

	<!-- Item -->
	<article class="timeline__item">
		<h5 class="title title--h4 timeline__title">Simlapal MM High School</h5>
		<span class="timeline__period">2014</span>
		<p class="timeline__description">Secondary</p>
	</article>
</div>


<!---- Experience ---->
<h2 class="title title--h2"><span class="box box--s2 icon-box">
		<i class="fa-regular fa-building fa-bounce"></i>
	</span>Experience</h2>
<div class="timeline">
	<!-- Item -->
	<article class="timeline__item">
		<h5 class="title title--h4 timeline__title">AssiduusInc-Arbor Green</h5>
		<span class="timeline__period">Present</span>
		<br>
		<span class="timeline__period">Full-Stack Django Developer</span>
		<p class="timeline__description">
			<ul>
				<li>Developing Django Application </li>
				<li>Deployment</li>
				<li>Maintenance</li>
				<li>CI-CD</li>
			</ul>
		</p>
	</article>

	<!-- Item -->
	<article class="timeline__item">
		<h5 class="title title--h4 timeline__title">MicroPyramid Informatics</h5>
		<span class="timeline__period">sept 2021 - Nov 2022</span>
		<p class="timeline__description">
			<ul>
				<li>Developing Django Application</li>
				<li>Working with Team</li>
			</ul>
		</p>
	</article>

	<!-- Item -->
	<article class="timeline__item">
		<h5 class="title title--h4 timeline__title">IGMI</h5>
		<span class="timeline__period">Jan 2021 - sept 2021</span>
		<p class="timeline__description">
			<ul>
				<li>Developing Django Application</li>
				<li>Deploment</li>
				<li>Working With AWS</li>
			</ul>
		</p>
	</article>

	<!-- Item -->
	<article class="timeline__item">
		<h5 class="title title--h4 timeline__title">Cessini</h5>
		<span class="timeline__period">jul 2020 - oct 2021</span>
		<p class="timeline__description">
			<ul>
				<li>Learning Django</li>
				<li>Web-Designing</li>
				<li>REST</li>
			</ul>
		</p>
	</article>
</div>


<section class="tecnology">
	<h2 class="title">Hand-On Experience</h2>
	<div class="row">
		<div class="col-3 col-md-2">
			<div>
				<img src="{% static 'common/img/tecnology/django.png'%}" />
			</div>

			<p>django</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/drf.jpeg'%}" />

			<p>drf</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/postgres.jpeg'%}" />

			<p>postgres</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/python.png'%}" />

			<p>python</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/celery.jpeg'%}" />

			<p>celery</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/redis.png'%}" />

			<p>redis</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/solr.jpeg'%}" />

			<p>solr</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/elasticsearch.jpeg'%}" />

			<p>elasticsearch</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/gitlab.jpeg'%}" />

			<p>gitlab</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/jenkins.jpeg'%}" />

			<p>jenkins</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/bitbucket.jpeg'%}" />

			<p>bitbucket</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/sentry.jpeg'%}" />

			<p>sentry</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/aws.png'%}" />

			<p>aws</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/digitalocen.jpeg'%}" />

			<p>digital-ocean</p>

		</div>

		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/html.png'%}" />

			<p>html</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/css.png'%}" />

			<p>css</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/javascript.png'%}" />

			<p>javascript</p>

		</div>
		<div class="col-3 col-md-2">
			<img src="{% static 'common/img/tecnology/axios.png'%}" />

			<p>axios</p>

		</div>


	</div>
</section>
{% endblock content %}