<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="utf-8" />
    <title>Sumit Panda</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/bootstrap.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/style.css'%}" />

    <link rel="stylesheet" type="text/css" href="{% static 'common/css/default-skin.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/magnific-popup.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/simplebar.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/swiper.min.css'%}" />

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

</head>

<body>
    <main class="main">
        <div class="container gutter-top gutter-bottom">
            <div class="row sticky-parent">
                <!-- Sidebar -->
                <aside class="col-12 col-md-12 col-xl-3">
                    <div class="sidebar box-outer sticky-column">
                        <!-- My photo -->
                        <div class="sidebar__base-info">
                            <figure class="avatar-box">
                                <img src="{% static 'common/img/sumit.jpeg'%}"
                                    alt="Ricardo Black">
                            </figure>

                            <div class="text-xl-center">
                                <h3 class="title title--h3 sidebar__name">Sumit Panda</h3>
                                <div class="badge">Full-Stack</div>
                            </div>

                            <button class="btn btn--small btn--icon-right sidebar__btn js-btn-toggle"><span>Show
                                    Contacts</span><i class="feathericon-chevron-down"></i></button>
                        </div>

                        <div class="sidebar__additional-info js-show">
                            <div class="separation"></div>
                            <ul class="details-info">
                                <!-- Email -->
                                <li class="details-info__item">
                                    <span class="box box--s2 icon-box">
                                        <i class="fa-regular fa-envelope fa-beat-fade"></i>
                                    </span>
                                    <div class="contacts-block__info">
                                        <span class="overhead">Email</span>
                                        <a class="text-overflow" href="mailto:sumit1panda@gmail.com"
                                            title="sumit1panda@gmail.com">sumit1panda@gmail.com</a>
                                    </div>
                                </li>
                                <!-- Phone -->
                                <li class="details-info__item">
                                    <span class="box box--s2 icon-box">
                                        <i class="fa-solid fa-phone fa-beat-fade"></i>
                                    </span>
                                    <div class="contacts-block__info">
                                        <span class="overhead">Phone</span>
                                        <span class="text-overflow" title="(+91) 8617-811-488">(+91) 8617-811-488</span>
                                    </div>
                                </li>
                                <!-- Birthday -->
                                <li class="details-info__item">
                                    <span class="box box--s2 icon-box">
                                        <i class="fa-solid fa-cake-candles fa-beat-fade"></i>
                                    </span>
                                    <div class="contacts-block__info">
                                        <span class="overhead">Birthday</span>
                                        <span class="text-overflow" title="March 7, 1999">March 7, 1999</span>
                                    </div>
                                </li>
                                <!-- Location -->
                                <li class="details-info__item">
                                    <span class="box box--s2 icon-box">
                                        <i class="fa-solid fa-map-location-dot fa-beat-fade"></i>
                                    </span>
                                    <div class="contacts-block__info">
                                        <span class="overhead">Location</span>
                                        <span class="text-overflow" title="Bankura, WB, 722101">Bankura, WB,
                                            722101</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="separation d-xl-none"></div>

                            <!-- Social -->
                            <div class="social">
                                <a class="social__link" href="https://www.facebook.com/"><i
                                        class="feathericon-facebook"></i></a>
                                <a class="social__link" href="https://www.behance.com/"><i
                                        class="feathericon-twitter"></i></a>
                                <a class="social__link" href="https://www.linkedin.com/"><i
                                        class="feathericon-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </aside>

                <!-- Content -->
                <div class="col-12 col-md-12 col-xl-9">
                    <div class="box-outer">
                        <!-- Menu -->
                        <div class="nav-container">
                            <ul class="nav">
                                <li class="nav__item"><a class="active" href="{% url 'common:sumit' %}">About</a></li>
                                <li class="nav__item"><a href="{% url 'common:sumit_portfolio' %}">Portfolio</a></li>
                            </ul>
                        </div>


                        {% block content %}
                        {% endblock content %}

                    </div><!-- box-outer -->
                </div><!-- Content -->
            </div><!-- sticky-parent -->
        </div><!-- container -->
    </main>


    <!-- JavaScripts -->
    <script src="{% static 'common/js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'common/js/plugins.min.js'%}"></script>
    <script src="{% static 'common/js/common.js'%}"></script>

</body>


</html>