{% load static %}
<div class="row" id="technology_list">
    <div class="col-3 col-md-2">
        <div>
            <img src="{% static 'common/img/tecnology/django.png'%}" />
        </div>

        <p>django</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/drf.jpeg'%}" />

        <p>drf</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/postgres.jpeg'%}" />

        <p>postgres</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/python.png'%}" />

        <p>python</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/celery.jpeg'%}" />

        <p>celery</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/redis.png'%}" />

        <p>redis</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/solr.jpeg'%}" />

        <p>solr</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/elasticsearch.jpeg'%}" />

        <p>elasticsearch</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/gitlab.jpeg'%}" />

        <p>gitlab</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/jenkins.jpeg'%}" />

        <p>jenkins</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/bitbucket.jpeg'%}" />

        <p>bitbucket</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/sentry.jpeg'%}" />

        <p>sentry</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/aws.png'%}" />

        <p>aws</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/digitalocen.jpeg'%}" />

        <p>digital-ocean</p>

    </div>

    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/html.png'%}" />

        <p>html</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/css.png'%}" />

        <p>css</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/javascript.png'%}" />

        <p>javascript</p>

    </div>
    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/axios.png'%}" />

        <p>axios</p>

    </div>

    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/blender.jpeg'%}" />

        <p>Blender</p>

    </div>

    <div class="col-3 col-md-2">
        <img src="{% static 'common/img/tecnology/3js.jpeg'%}" />

        <p>3js</p>

    </div>
</div>