<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8" />
	<title>Sumit Panda</title>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<link rel="stylesheet" type="text/css" href="css/default-skin.css" />
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css" />
	<link rel="stylesheet" type="text/css" href="css/simplebar.min.css" />
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />

	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

</head>
    <main class="main">
	    <div class="container gutter-top gutter-bottom">
		    <div class="row sticky-parent">
			    <!-- Sidebar -->
                <aside class="col-12 col-md-12 col-xl-3">
				    <div class="sidebar box-outer sticky-column">
						<!-- My photo -->
						<div class="sidebar__base-info">
					    	<figure class="avatar-box">
                                <img src="https://art-template.ru/vcard4/assets/images/my-avatar.png" alt="Ricardo Black">
						    </figure>

						    <div class="text-xl-center">
						        <h3 class="title title--h3 sidebar__name">Ricardo Black</h3>
							    <div class="badge">Creative Director</div>
						    </div>

							<button class="btn btn--small btn--icon-right sidebar__btn js-btn-toggle"><span>Show Contacts</span><i class="feathericon-chevron-down"></i></button>
						</div>

						<div class="sidebar__additional-info js-show">
							<div class="separation"></div>
		                    <ul class="details-info">
							    <!-- Email -->
							    <li class="details-info__item">
							        <span class="box box--s2 icon-box"><i class="font-icon icon-envelope"></i></span>
								    <div class="contacts-block__info">
									    <span class="overhead">Email</span>
									    <a class="text-overflow" href="mailto:example@mail.com" title="ricardo@example.com">ricardo@example.com</a>
								    </div>
							    </li>
							    <!-- Phone -->
						 	    <li class="details-info__item">
								    <span class="box box--s2 icon-box"><i class="font-icon icon-phone"></i></span>
								    <div class="contacts-block__info">
									    <span class="overhead">Phone</span>
							            <span class="text-overflow" title="+1 (070) 123-4567">+1 (070) 123-4567</span>
								    </div>	
							    </li>
								<!-- Birthday -->
					            <li class="details-info__item">
								    <span class="box box--s2 icon-box"><i class="font-icon icon-calendar"></i></span>
								    <div class="contacts-block__info">
									    <span class="overhead">Birthday</span>
							            <span class="text-overflow" title="March 12, 1995">March 12, 1995</span>
								    </div>
							    </li>
								<!-- Location -->
						        <li class="details-info__item">
								    <span class="box box--s2 icon-box"><i class="font-icon icon-location"></i></span>
								    <div class="contacts-block__info">
									    <span class="overhead">Location</span>
									    <span class="text-overflow" title="San-Francisco, USA">San-Francisco, USA</span>
								    </div>
							    </li>
					        </ul>
						    <div class="separation d-xl-none"></div>

						    <!-- Social -->
						    <div class="social">
							    <a class="social__link" href="https://www.facebook.com/"><i class="feathericon-facebook"></i></a>
							    <a class="social__link" href="https://www.behance.com/"><i class="feathericon-twitter"></i></a>
						  	    <a class="social__link" href="https://www.linkedin.com/"><i class="feathericon-instagram"></i></a>
						    </div>
						</div>	
					</div>	
		        </aside>
		        
				<!-- Content -->
		        <div class="col-12 col-md-12 col-xl-9">
				    <div class="box-outer pb-0">
					    <!-- Menu -->
						<div class="nav-container">
						    <ul class="nav">
								<li class="nav__item"><a class="active" href="index.html">About</a></li>
								<li class="nav__item"><a href="portfolio.html">Portfolio</a><
                            </ul>
						</div>
						
					    <!-- About -->
						<div class="pb-3">
		                    <h1 class="title title--h1 title__separate">Portfolio</h1>
					    </div>

						<!-- Gallery -->
						<div class="gallery-grid js-masonry js-filter-container">
							<div class="gutter-sizer"></div>
							
							<!-- Item 1 -->
							<div class="gallery-grid__item category-design">
								<a href="single-project.html">
								    <div class="gallery-grid__image-wrap">
                                        <img class="gallery-grid__image cover lazyload" src="https://art-template.ru/vcard4/assets/images/projects/project-1.jpg" alt="" />
								    </div>
                                    <div class="gallery-grid__caption">
									    <h3 class="title gallery-grid__title">Moonboard</h3>
									    <span class="gallery-grid__category">Web Design</span>
									</div>
								</a>
							</div>
                            
							
						</div><!-- /Gallery -->
					</div>
		        </div><!-- Content -->
			</div><!-- sticky-parent -->
		</div><!-- container -->
    </main>



	<!-- JavaScripts -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/plugins.min.js"></script>
	<script src="js/common.js"></script>

</body>

<!-- Mirrored from art-template.ru/vcard4/style-2/portfolio.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 Mar 2023 18:14:04 GMT -->
</html>